* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-wh {
    color: #fff;
}

.sec_brown {
    color: #7D5C4E;
}

.dark_brown {
    color: #352B26;
    font-weight: 700 !important;
}

.heading-h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
}

.heading-h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.large-text {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.52px;
    font-weight: 500;
}

.medium-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
    font-weight: 400;
}


.button-style {
    font-size: 16px;
    letter-spacing: .32px;
    font-weight: 700;
    padding: 14px 24px;
    color: #fff;
    background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 0 0;
    display: inline-block;
}

.button-style:hover {
    background: #5D3E31;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 80px;
}

.main .inner {
    max-width: 1280px;
    width: 100%;
}

/* HERO SECTION */
.hero-section {
    width: 100%;
    height: 700px;
    background-image: url(./hero-bg-img.png);
    background-size: cover;
    background-position: center;

}

.hero-sec-content {
    row-gap: 20px;
    max-width: 780px;
    width: 100%;
}

.hero-sec-content p {
    margin: 20px 0;
}

/* Fres-pet-food section */
.pet-food-sec {
    background-image: url("./pet-food.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}


.pet-food-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-align: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 160px;
}

/* Nutrition section */
.nutrition-section {
    background-color: #FDF8F7;
}

.nutrition-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 20px;
    padding: 20px;
}

.nu-img-txt h2 {
    margin-bottom: 8px;
}

.nut-sec-btn {
    text-align: center;
}

/* Customer Reviews section */
.cust-rev-m-heading {
    text-align: center;
    margin-bottom: 40px;
}
.customer-reviews-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 36px;
}
.customer-reviews-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF8F7;
    gap: 35px;
    max-width: 681px;
    width: 100%;
    border-radius: 20px;
    padding: 40px;
}

.cus-rev-sec-btn {
    margin-top: 35px;
    text-align: center;
}

/* Plan Works steps section */
.plan-work-steps-sec {
    background-color: #FDF8F7;
}

.plan-works-main-heading {
    text-align: center;
    margin-bottom: 40px;
}

.plan-work-steps-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
    align-items: start;
    justify-items: center;
}

.plan-work-steps-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 35px;
    max-width: 360px;
    width: 100%;
}

.serial-number {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #6D4D3F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow::after {
    content: url(./right-arrow01.png);
    position: absolute;
    left: 72px;
    width: 50px !important;
    height: auto;
}

.serial-number p {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.plan-work-steps-card-det p:first-child {
    margin-bottom: 8px;
}

/* Here’s why it is life changing section */
.life-changing-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
}

.life-changing-img-cotnent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}

/* support-section */
.support-section {
    background-color: #FDF8F7;
}

.support-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}



/* Media query */
@media (max-width: 1340px) {

    /* Plan Works steps section */
    .right-arrow::after {
        content: url(./right-arrow.png);
    }
}

@media (max-width: 1000px) {
    .right-arrow::after {
        display: none;
    }
}

@media (max-width: 768px) {

    /* common css */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 32px 24px;
    }

    .heading-h1 {
        font-size: 28px;
        line-height: 34.8px;
        font-weight: 700;
    }

    .heading-h2 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
    }

    .large-text {
        font-size: 20px;
        line-height: 26px;
    }

    .medium-text {
        font-size: 18px;
        line-height: 24px;
    }

    /* Plan works steps section  */
    .plan-work-steps-card {
        row-gap: 16px;
    }


    /* Nutrition section */
    .nutrition-items {
        grid-template-columns: repeat(1, 1fr); 
    }

    /* Fres-pet-food section */
    .pet-food-sec { 
        background-size: contain;
    }

    .pet-food-content {
        margin-bottom: 120px;
    }

    /* Here’s why it is life changing section */
    .life-changing-img-cotnent {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 576px) {
    /* button css */
    .button-style{
        margin: 20px 0 0 0;
    }
    .hero-section {
        height: 82vh;
    }

    /* Customer Reviews section */
    .cust-rev-m-heading { 
        margin-bottom: 36px;
    }
    .customer-reviews-card {
        flex-direction: column;
        gap: 25px;
        padding: 25px;
    }

    .revers-card {
        flex-direction: column-reverse;
    }
}