* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-wh {
    color: #fff;
}

.sec_brown {
    color: #7D5C4E;
}

.dark_brown {
    color: #352B26;
    font-weight: 700 !important;
}

.heading-h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.heading-h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.large-text {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.52px;
    font-weight: 500;
    font-family: "Harmonia Sans", sans-serif;
}

.medium-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
    font-weight: 400;
    font-family: "Harmonia Sans", sans-serif;
}


.button-style {
    font-size: 16px;
    letter-spacing: .32px;
    font-weight: 700;
    padding: 14px 24px;
    color: #fff;
    background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 0 0;
    display: inline-block;
}

.button-style:hover {
    background: #5D3E31;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 80px;
}

.main .inner {
    max-width: 1280px;
    width: 100%;
}

/* HERO SECTION */
.hero-section {
    width: 100%;
    height: 700px;
    background-image: url(https://cdn.shopify.com/s/files/1/0745/7059/6644/files/hero-section.webp?v=1739793193);
    background-size: cover;
    background-position: center;

}

.hero-sec-content {
    row-gap: 20px;
    max-width: 820px;
    width: 100%;
}

.hero-sec-content p {
    margin: 20px 0;
}

/* Fres-pet-food section */
.pet-food-sec {
    background-image: url(https://cdn.shopify.com/s/files/1/0745/7059/6644/files/pet-food.webp?v=1739791447);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}


.pet-food-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-align: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 160px;
}

/* Nutrition section */
.nutrition-section {
    background-color: #FDF8F7;
}

.nutrition-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 20px;
    padding: 20px;
}
/* add code */
.nutrition-item-box{
    display: flex;
    justify-content: center;
    gap: 12px;;
}
/* add code */

.nu-details h2 {
    margin-bottom: 8px;
}

.nut-sec-btn {
    text-align: center;
}

/* Customer Reviews section */
.cust-rev-m-heading {
    text-align: center;
    margin-bottom: 40px;
}

.cus-rev-sec-btn {
    margin-top: 35px;
    text-align: center;
}

.cards-carousel {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    position: relative;

}

.cards-carousel .arrow {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.cards-carousel .left-arrow {
    left: -22px;

}

.cards-carousel .right_arrow {
    right: -22px;

}

.cards-carousel .customer-reviews-cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0; 
}

.customer-reviews-cards::-webkit-scrollbar {
    display: none;
}

.customer-reviews-cards :where(.card-box, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-reviews-cards.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.customer-reviews-cards.no-transition {
    scroll-behavior: auto;
}

.customer-reviews-cards.dragging .card-box {
    cursor: grab;
    user-select: none;
}

.customer-reviews-cards .card-box {
    scroll-snap-align: start; 
    height: auto;
    list-style: none; 
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; 
    background-color: #FDF8F7;
    row-gap: 10px;;
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(253, 248, 247, 0.8);
    border-radius: 8px;;
}

.auther-img-name{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;;
}

.auth-name-ratings p{
    font-size: 20px;
}

.auther-image img{
    border-radius: 100%; 
}

.customer-review-card-detail P:first-child{
    font-size: 20px;
}
.customer-review-card-detail P:last-child{
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 900px) {
    .cards-carousel .customer-reviews-cards {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .cards-carousel .customer-reviews-cards {
        grid-auto-columns: 100%;

    }
}

/* Plan Works steps section */
.plan-work-steps-sec {
    background-color: #FDF8F7;
}

.plan-works-main-heading {
    text-align: center;
    margin-bottom: 40px;
}

.plan-work-steps-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
    align-items: start;
    justify-items: center;
}

.plan-work-steps-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 35px;
    max-width: 360px;
    width: 100%;
}

.serial-number {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #6D4D3F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow::after {
    content: url(https://cdn.shopify.com/s/files/1/0745/7059/6644/files/right-arrow01.webp?v=1739791531);
    position: absolute;
    left: 72px;
    width: 50px !important;
    height: auto;
}

.serial-number p {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.plan-work-steps-card-det p:first-child {
    margin-bottom: 8px;
}

/* Here’s why it is life changing section */
.life-changing-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
}

.life-changing-img-cotnent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 20px;
}

.life-changing-image {
    position: relative;
}

.life-changing-image img {
    width: 100%;
    height: 100%;
}

/* support-section */
.support-section {
    background-color: #FDF8F7;
}

.support-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}



/* Media query */
@media (max-width: 1340px) {

    /* Plan Works steps section */
    .right-arrow::after {
        content: url(https://cdn.shopify.com/s/files/1/0745/7059/6644/files/right-arrow.webp?v=1739791447);
    }
}

@media (max-width: 1000px) {
    .right-arrow::after {
        display: none;
    }
}

@media (max-width: 768px) {

    /* common css */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 32px 24px;
    }

    .heading-h1 {
        font-size: 28px;
        line-height: 34.8px;
        font-weight: 700;
    }

    .heading-h2 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
    }

    .large-text {
        font-size: 20px;
        line-height: 26px;
    }

    .medium-text {
        font-size: 18px;
        line-height: 24px;
    }

    /* Plan works steps section  */
    .plan-work-steps-card {
        row-gap: 16px;
    }


    /* Nutrition section */
    .nutrition-items {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;;
    }

    /* Fres-pet-food section */
    .pet-food-sec {
        background-size: contain;
    }

    .pet-food-content {
        margin-bottom: 120px;
    }

    /* Here’s why it is life changing section */
    .life-changing-inner-sec {
        row-gap: 36px;
    }

    .life-changing-img-cotnent {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 576px) {

    /* button css */
    .button-style {
        margin: 20px 0 0 0;
    }

    .hero-section {
        height: 82vh;
    }

    /* Customer Reviews section */
    .cust-rev-m-heading {
        margin-bottom: 36px;
    }

    .revers-card {
        flex-direction: column-reverse;
    }
} 